@model COVID19WebApp.Models.DataObject

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Novel coronavirus</h2>
    <p>
        Novel coronavirus (COVID-19) is a virus that is affecting the entire world community!

    </p>
    <p> This website gathers information and statistics about COVID-19 using the Corona-Virus-Stats API</p>
</div>

<div>
<p>World Results</p>
    @foreach (var row in Model.Rows)
    {
    <p>country:@row.Country</p>
    <p>total_cases:@row.TotalCases</p>
    }
</div>

<section id="CountryInfo">
    <h3>Get COVID-19 for a specific country</h3>
    <form asp-action="GetCountryInfo" asp-controller="Home" method="post">
        <label asp-for="Rows">Country Name</label>
        <input asp-for="Rows" />
        <button type="submit">Get Country Data</button>

    </form>
</section>

<div>
    @*@foreach(string s in Covid19Results)
    {
        <p>
            @Covid19Results;
        </p>
    }*@

</div>