@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>While this application does not collect or use any of your personal data, it does integrate with an external API that provides current COVID-19 data. This application has been architected in a manner that promotes security out of a sense of caution and a feeling of responsibility.</p>
