
@{
    ViewData["Title"] = "Results";
    Layout = "_Layout";
}

<h1>Country Results:</h1>
<br />
<div>
    <h3>Please return to the home page and enter a country name to retrieve Covid-19 data for a specific country.</h3>
    <br />
    
        <p>Country Name:</p>
        <p>Confirmed Total Cases:</p>
        <p>Confirmed Deaths:</p>
        <p>Confirmed Recovered:</p>
        @*<p>Last Updated: @Convert.ToDateTime(result.Last_Updated)</p>*@
    
</div>
