@model COVID19WebApp.Models.CountryDataObject

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<div>
    <p>Country Results</p>
    @foreach (var row in Model.CountryResults)
    {
        <p>country name:@row.CountryRegion</p>
        <p>confirmed total cases:@row.Confirmed</p>
        <p>confirmed deaths: @row.Deaths</p>
        <p>confirmed recovered: @row.Recovered</p>
        <p>last updated: @Convert.ToDateTime(row.Last_Updated)</p>
    }
</div>

@*<div>
    <p>Country Results</p>

    @foreach(var row in Model.Rows)
    {
        <p>country:@row.Country</p>
        <p>total_cases:@row.TotalCases</p>
    }

</div>*@
